force-app/main/default/flows/Docusign_Leads.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_With_DocuSign_Action_1</name>
        <label>Send Lead Agreement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>dfsle__EnvelopeConfigurationBulkRequest</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Debug_Docusign_Sent</targetReference>
        </connector>
        <faultConnector>
            <targetReference>DebugDocusignFault</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>envelopeConfigurationId</name>
            <value>
                <elementReference>Get_Envelope_Config_Lead_Agreement.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>dfsle__EnvelopeConfigurationBulkRequest</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Debug_Calling_Docusign</name>
        <label>Debug - Calling Docusign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_DebugStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CALLING_DOCUSIGN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_With_DocuSign_Action_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Debug_Config_Found</name>
        <label>Debug - Config Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_DebugStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CONFIG_FOUND</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Debug_Docusign_Sent</name>
        <label>Debug - Docusign Sent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_DebugStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DOCUSIGN_SENT</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Debug_Flow_Started</name>
        <label>Debug - Flow Started</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_DebugStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FLOW_STARTED</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Debug_Config_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Debug_No_Config_Found</name>
        <label>Debug - No Envelope Config Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_DebugStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NO_CONFIG_FOUND</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DebugError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No dfsle__EnvelopeConfiguration__c found for Id=a0DgK00000K0W9FUAV</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_DocuSign_Failure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DebugDocusignFault</name>
        <label>Debug - Docusign Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_DebugStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DOCUSIGN_FAULT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DebugError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_DocuSign_Failure</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Config_Found</name>
        <label>Envelope Config Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Debug_No_Config_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Envelope_Config_Lead_Agreement.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Debug_Calling_Docusign</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>When a lead is created, create a docusign</description>
    <environments>Default</environments>
    <interviewLabel>When a lead is created, create a docusign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>When a lead is created, create a docusign</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Log_DocuSign_Failure</name>
        <label>Log DocuSign Failure</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>DocuSign send failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Envelope_Config_Lead_Agreement</name>
        <label>Get Envelope Config - Lead Agreement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Config_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a0DgK00000K0W9FUAV</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>dfsle__EnvelopeConfiguration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Debug - Write Status to Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Envelope_Config_Lead_Agreement</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>var_DebugStatus</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Debug_Flow_Started</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Error Variable</description>
        <name>var_DebugError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Status Variable</description>
        <name>var_DebugStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
