force-app/main/default/flows/Lead_DocuSign_Send_OnCreate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<!-- v1.0.1 | 2026-02-19 | Lead_DocuSign_Send_OnCreate: DocuSign-only trigger w/ debug breadcrumbs (schema-ordered) -->
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
  <actionCalls>
    <name>Send_With_DocuSign_Action</name>
    <label>Send Envelope (DocuSign)</label>
    <locationX>300</locationX>
    <locationY>80</locationY>
    <actionName>dfsle__EnvelopeConfigurationBulkRequest</actionName>
    <actionType>apex</actionType>
    <flowTransactionModel>Automatic</flowTransactionModel>
    <inputParameters>
      <name>envelopeConfigurationId</name>
      <value>
        <elementReference>var_EnvelopeConfigId</elementReference>
      </value>
    </inputParameters>
    <inputParameters>
      <name>sourceId</name>
      <value>
        <elementReference>$Record.Id</elementReference>
      </value>
    </inputParameters>
    <connector>
      <targetReference>Assign_Docusign_Sent</targetReference>
    </connector>
    <faultConnector>
      <targetReference>Assign_Docusign_Fault</targetReference>
    </faultConnector>
  </actionCalls>
  <apiVersion>65.0</apiVersion>
  <assignments>
    <name>Assign_Init</name>
    <label>Debug - Init</label>
    <locationX>200</locationX>
    <locationY>200</locationY>
    <assignmentItems>
      <assignToReference>var_DebugStatus</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue>STARTED</stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>var_DebugError</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue>
        </stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>var_EnvelopeConfigId</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue>
        </stringValue>
      </value>
    </assignmentItems>
    <connector>
      <targetReference>Update_Debug_Started</targetReference>
    </connector>
  </assignments>
  <assignments>
    <name>Assign_Lookup_Config</name>
    <label>Debug - Lookup Config</label>
    <locationX>200</locationX>
    <locationY>200</locationY>
    <assignmentItems>
      <assignToReference>var_DebugStatus</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue>LOOKUP_CONFIG</stringValue>
      </value>
    </assignmentItems>
    <connector>
      <targetReference>Update_Debug_Before_Lookup</targetReference>
    </connector>
  </assignments>
  <assignments>
    <name>Assign_No_Config</name>
    <label>Debug - No Config Found</label>
    <locationX>200</locationX>
    <locationY>200</locationY>
    <assignmentItems>
      <assignToReference>var_DebugStatus</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue>NO_CONFIG_FOUND</stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>var_DebugError</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue>No dfsle__EnvelopeConfiguration__c found where Name='DocuSign Custom'</stringValue>
      </value>
    </assignmentItems>
    <connector>
      <targetReference>Update_Debug_Final</targetReference>
    </connector>
  </assignments>
  <assignments>
    <name>Assign_Config_Found</name>
    <label>Debug - Config Found</label>
    <locationX>200</locationX>
    <locationY>200</locationY>
    <assignmentItems>
      <assignToReference>var_DebugStatus</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue>CONFIG_FOUND</stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>var_EnvelopeConfigId</assignToReference>
      <operator>Assign</operator>
      <value>
        <elementReference>Get_Envelope_Config_ByName.Id</elementReference>
      </value>
    </assignmentItems>
    <connector>
      <targetReference>Update_Debug_Config_Found</targetReference>
    </connector>
  </assignments>
  <assignments>
    <name>Assign_Calling_Docusign</name>
    <label>Debug - Calling DocuSign</label>
    <locationX>200</locationX>
    <locationY>200</locationY>
    <assignmentItems>
      <assignToReference>var_DebugStatus</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue>CALLING_DOCUSIGN</stringValue>
      </value>
    </assignmentItems>
    <connector>
      <targetReference>Update_Debug_Before_Send</targetReference>
    </connector>
  </assignments>
  <assignments>
    <name>Assign_Docusign_Sent</name>
    <label>Debug - DocuSign Sent</label>
    <locationX>200</locationX>
    <locationY>200</locationY>
    <assignmentItems>
      <assignToReference>var_DebugStatus</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue>DOCUSIGN_SENT</stringValue>
      </value>
    </assignmentItems>
    <connector>
      <targetReference>Update_Debug_Final</targetReference>
    </connector>
  </assignments>
  <assignments>
    <name>Assign_Docusign_Fault</name>
    <label>Debug - DocuSign Fault</label>
    <locationX>200</locationX>
    <locationY>200</locationY>
    <assignmentItems>
      <assignToReference>var_DebugStatus</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue>DOCUSIGN_FAULT</stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>var_DebugError</assignToReference>
      <operator>Assign</operator>
      <value>
        <elementReference>$Flow.FaultMessage</elementReference>
      </value>
    </assignmentItems>
    <connector>
      <targetReference>Update_Debug_Final</targetReference>
    </connector>
  </assignments>
  <decisions>
    <name>Decision_Config_Found</name>
    <locationX>200</locationX>
    <locationY>200</locationY>
    <label>Envelope Config Found?</label>
    <defaultConnectorLabel>Not Found</defaultConnectorLabel>
    <defaultConnector>
      <targetReference>Assign_No_Config</targetReference>
    </defaultConnector>
    <rules>
      <name>Found</name>
      <conditionLogic>and</conditionLogic>
      <conditions>
        <leftValueReference>Get_Envelope_Config_ByName.Id</leftValueReference>
        <operator>IsNull</operator>
        <rightValue>
          <booleanValue>false</booleanValue>
        </rightValue>
      </conditions>
      <connector>
        <targetReference>Assign_Config_Found</targetReference>
      </connector>
      <label>Found</label>
    </rules>
  </decisions>
  <description>v1.0.1 | 2026-02-19 - Lead After-Save (Create): Lookup dfsle__EnvelopeConfiguration__c by Name='DocuSign Custom', then call dfsle__EnvelopeConfigurationBulkRequest with sourceId=$Record.Id. Debug breadcrumbs written to Lead.Description: STARTED -&gt; LOOKUP_CONFIG -&gt; CONFIG_FOUND -&gt; CALLING_DOCUSIGN -&gt; DOCUSIGN_SENT or DOCUSIGN_FAULT.</description>
  <formulas>
    <name>f_DebugLine</name>
    <dataType>String</dataType>
    <expression>{!var_DebugStatus}
&amp; " | LeadId=" &amp; {!$Record.Id}
&amp; IF(ISBLANK({!var_EnvelopeConfigId}), "", " | EnvCfgId=" &amp; {!var_EnvelopeConfigId})
&amp; IF(ISBLANK({!var_DebugError}), "", " | ERROR=" &amp; {!var_DebugError})</expression>
  </formulas>
  <label>Lead DocuSign - Send Envelope (On Create)</label>
  <processType>AutoLaunchedFlow</processType>
  <status>Active</status>
  <recordLookups>
    <name>Get_Envelope_Config_ByName</name>
    <locationX>200</locationX>
    <locationY>200</locationY>
    <label>Get Envelope Config (Name)</label>
    <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
    <connector>
      <targetReference>Decision_Config_Found</targetReference>
    </connector>
    <filterLogic>and</filterLogic>
    <filters>
      <field>Name</field>
      <operator>EqualTo</operator>
      <value>
        <stringValue>DocuSign Custom</stringValue>
      </value>
    </filters>
    <getFirstRecordOnly>true</getFirstRecordOnly>
    <object>dfsle__EnvelopeConfiguration__c</object>
    <storeOutputAutomatically>true</storeOutputAutomatically>
  </recordLookups>
  <recordUpdates>
    <name>Update_Debug_Started</name>
    <locationX>200</locationX>
    <locationY>200</locationY>
    <label>Debug - Write (Started)</label>
    <connector>
      <targetReference>Assign_Lookup_Config</targetReference>
    </connector>
    <inputAssignments>
      <field>Description</field>
      <value>
        <elementReference>f_DebugLine</elementReference>
      </value>
    </inputAssignments>
    <inputReference>$Record</inputReference>
  </recordUpdates>
  <recordUpdates>
    <name>Update_Debug_Before_Lookup</name>
    <locationX>200</locationX>
    <locationY>200</locationY>
    <label>Debug - Write (Before Lookup)</label>
    <connector>
      <targetReference>Get_Envelope_Config_ByName</targetReference>
    </connector>
    <inputAssignments>
      <field>Description</field>
      <value>
        <elementReference>f_DebugLine</elementReference>
      </value>
    </inputAssignments>
    <inputReference>$Record</inputReference>
  </recordUpdates>
  <recordUpdates>
    <name>Update_Debug_Config_Found</name>
    <locationX>200</locationX>
    <locationY>200</locationY>
    <label>Debug - Write (Config Found)</label>
    <connector>
      <targetReference>Assign_Calling_Docusign</targetReference>
    </connector>
    <inputAssignments>
      <field>Description</field>
      <value>
        <elementReference>f_DebugLine</elementReference>
      </value>
    </inputAssignments>
    <inputReference>$Record</inputReference>
  </recordUpdates>
  <recordUpdates>
    <name>Update_Debug_Before_Send</name>
    <locationX>200</locationX>
    <locationY>200</locationY>
    <label>Debug - Write (Before DocuSign Send)</label>
    <connector>
      <targetReference>Send_With_DocuSign_Action</targetReference>
    </connector>
    <inputAssignments>
      <field>Description</field>
      <value>
        <elementReference>f_DebugLine</elementReference>
      </value>
    </inputAssignments>
    <inputReference>$Record</inputReference>
  </recordUpdates>
  <recordUpdates>
    <name>Update_Debug_Final</name>
    <locationX>200</locationX>
    <locationY>200</locationY>
    <label>Debug - Write (Final)</label>
    <inputAssignments>
      <field>Description</field>
      <value>
        <elementReference>f_DebugLine</elementReference>
      </value>
    </inputAssignments>
    <inputReference>$Record</inputReference>
  </recordUpdates>
  <start>
    <locationX>0</locationX>
    <locationY>0</locationY>
    <connector>
      <targetReference>Assign_Init</targetReference>
    </connector>
    <filterLogic>and</filterLogic>
    <filters>
      <field>Email</field>
      <operator>IsNull</operator>
      <value>
        <booleanValue>false</booleanValue>
      </value>
    </filters>
    <filters>
      <field>LeadSource</field>
      <operator>EqualTo</operator>
      <value>
        <stringValue>Web</stringValue>
      </value>
    </filters>
    <object>Lead</object>
    <recordTriggerType>Create</recordTriggerType>
    <triggerType>RecordAfterSave</triggerType>
  </start>
  <variables>
    <name>var_DebugStatus</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>var_DebugError</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>var_EnvelopeConfigId</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
</Flow>