force-app/main/default/flows/Lead_DocuSign_OnCreate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_With_DocuSign_Action_1</name>
        <label>Send Lead Agreement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>dfsle__EnvelopeConfigurationBulkRequest</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Docusign_Sent</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Docusign_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>envelopeConfigurationId</name>
            <value>
                <elementReference>var_EnvelopeConfigId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>dfsle__EnvelopeConfigurationBulkRequest</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Calling_Docusign</name>
        <label>Debug - Calling DocuSign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_DebugStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CALLING_DOCUSIGN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Debug_Before_Send</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Config_Found</name>
        <label>Debug - Config Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_DebugStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CONFIG_FOUND</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EnvelopeConfigId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Envelope_Config.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Debug_Config_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Docusign_Fault</name>
        <label>Debug - DocuSign Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_DebugStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DOCUSIGN_FAULT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DebugError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Debug_Final</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Docusign_Sent</name>
        <label>Debug - DocuSign Sent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_DebugStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DOCUSIGN_SENT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Debug_Final</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Init</name>
        <label>Debug - Init</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_DebugStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>STARTED</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DebugError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EnvelopeConfigId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Debug_Started</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lookup_Config</name>
        <label>Debug - Lookup Config</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_DebugStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LOOKUP_CONFIG</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Debug_Before_Lookup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_No_Config</name>
        <label>Debug - No Config Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_DebugStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NO_CONFIG_FOUND</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DebugError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No dfsle__EnvelopeConfiguration__c found for configured Id.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Debug_Final</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Config_Found</name>
        <label>Envelope Config Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_No_Config</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Envelope_Config.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Config_Found</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>v1 | 2026-02-17 - Lead After-Save (Create): Send DocuSign using dfsle__EnvelopeConfigurationBulkRequest and write debug breadcrumbs to Lead.Description. Debug: STARTED -&gt; LOOKUP_CONFIG -&gt; CONFIG_FOUND -&gt; CALLING_DOCUSIGN -&gt; DOCUSIGN_SENT or DOCUSIGN_FAULT.</description>
    <environments>Default</environments>
    <formulas>
        <name>f_DebugLine</name>
        <dataType>String</dataType>
        <expression>{!var_DebugStatus}
&amp; &quot; | LeadId=&quot; &amp; {!$Record.Id}
&amp; IF(ISBLANK({!var_EnvelopeConfigId}), &quot;&quot;, &quot; | EnvCfgId=&quot; &amp; {!var_EnvelopeConfigId})
&amp; IF(ISBLANK({!var_DebugError}), &quot;&quot;, &quot; | ERROR=&quot; &amp; {!var_DebugError})</expression>
    </formulas>
    <interviewLabel>Lead DocuSign On Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead DocuSign - On Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Envelope_Config</name>
        <label>Get Envelope Config (Id)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Config_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a0DgK00000K0W9FUAV</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>dfsle__EnvelopeConfiguration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Debug_Before_Lookup</name>
        <label>Debug - Write (Before Lookup)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Envelope_Config</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>f_DebugLine</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Debug_Before_Send</name>
        <label>Debug - Write (Before Send)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_With_DocuSign_Action_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>f_DebugLine</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Debug_Config_Found</name>
        <label>Debug - Write (Config Found)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Calling_Docusign</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>f_DebugLine</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Debug_Final</name>
        <label>Debug - Write (Final)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>f_DebugLine</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Debug_Started</name>
        <label>Debug - Write (Started)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Lookup_Config</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>f_DebugLine</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Init</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Debug error message</description>
        <name>var_DebugError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Debug status breadcrumb</description>
        <name>var_DebugStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>dfsle__EnvelopeConfiguration__c.Id used for send</description>
        <name>var_EnvelopeConfigId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>

