force-app/main/default/flows/Opp_Reapproval_Guardrail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Dec_LateStage</name>
        <label>Late Stage?</label>
        <locationX>560</locationX>
        <locationY>80</locationY>
        <defaultConnector>
            <targetReference>Log_NotLate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Late Stage</defaultConnectorLabel>
        <rules>
            <name>R_LATE</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>vOpp.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negotiation/Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vOpp.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contracting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_LateStage</targetReference>
            </connector>
            <label xsi:nil="true"/>
        </rules>
    </decisions>
    <label>Opp_Reapproval_Guardrail</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opp</name>
        <label>Get Opportunity</label>
        <locationX>300</locationX>
        <locationY>80</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dec_LateStage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>vOpp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>StageName</queriedFields>
    </recordLookups>
    <start>
        <locationX>80</locationX>
        <locationY>80</locationY>
        <connector>
            <targetReference>Get_Opp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_LateStage</name>
        <label>Log Late Stage</label>
        <locationX>820</locationX>
        <locationY>80</locationY>
        <flowName>SF_Log_Run</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>vOpp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PipelineKey</name>
            <value>
                <elementReference>PipelineKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MilestoneKey</name>
            <value>
                <stringValue>MILESTONE_REAPPROVAL_GUARDRAIL_LATESTAGE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Severity</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message</name>
            <value>
                <stringValue>Guardrail hit: Opportunity is in a late stage. (Field updates added after schema finalized.)</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_NotLate</name>
        <label>Log Not Late</label>
        <locationX>820</locationX>
        <locationY>180</locationY>
        <flowName>SF_Log_Run</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>vOpp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PipelineKey</name>
            <value>
                <elementReference>PipelineKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MilestoneKey</name>
            <value>
                <stringValue>MILESTONE_REAPPROVAL_GUARDRAIL_NOTLATESTAGE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Severity</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message</name>
            <value>
                <stringValue>Guardrail check: stage not late; no action.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>PipelineKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>

