_archive_baks_20260218_212939/force-app/main/default/flows/Opp_CRM_Router_AfterSave.flow-meta.xml.bak_fix_selfloop_20260218_185221
<?xml version="1.0" encoding="UTF-8"?>
<!-- v0.1.3 | 2026-02-18 | Opp_CRM_Router_AfterSave: record-trigger router (AutoLaunchedFlow) -->
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
  <apiVersion>65.0</apiVersion>
  <label>Opp CRM Router (After Save)</label>
  <processType>AutoLaunchedFlow</processType>

  <variables>
    <name>vPipelineKey</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
    <value><stringValue>OPP_CRM_V1</stringValue></value>
  </variables>

  <variables>
    <name>vMilestoneKey</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
    <value><stringValue>MILESTONE_ROUTER_FIRED</stringValue></value>
  </variables>

  <!-- SUBFLOWS (keep contiguous to avoid XSD "duplicated" errors) -->
  <subflows>
    <name>SF_Log_Start</name>
    <label>Log Router Fired</label>
    <locationX>300</locationX>
    <locationY>80</locationY>
    <flowName>SF_Log_Run</flowName>
    <inputAssignments><name>RecordId</name><value><elementReference>$Record.Id</elementReference></value></inputAssignments>
    <inputAssignments><name>PipelineKey</name><value><elementReference>vPipelineKey</elementReference></value></inputAssignments>
    <inputAssignments><name>MilestoneKey</name><value><elementReference>vMilestoneKey</elementReference></value></inputAssignments>
    <inputAssignments><name>Severity</name><value><stringValue>DEBUG</stringValue></value></inputAssignments>
    <inputAssignments><name>Message</name><value><stringValue>Opp_CRM_Router_AfterSave fired.</stringValue></value></inputAssignments>
    <connector><targetReference>Call_Guardrail</targetReference></connector>
  </subflows>

  <subflows>
    <name>Call_Guardrail</name>
    <label>Call Reapproval Guardrail</label>
    <locationX>520</locationX>
    <locationY>80</locationY>
    <flowName>Opp_Reapproval_Guardrail</flowName>
    <inputAssignments><name>RecordId</name><value><elementReference>$Record.Id</elementReference></value></inputAssignments>
    <inputAssignments><name>PipelineKey</name><value><elementReference>vPipelineKey</elementReference></value></inputAssignments>
    <connector><targetReference>Call_Guardrail</targetReference></connector>
  </subflows>

  <subflows>
    <name>Call_Notify</name>
    <label>Call SF Notify Milestone</label>
    <locationX>1220</locationX>
    <locationY>80</locationY>
    <flowName>SF_Notify_Milestone</flowName>
    <inputAssignments><name>RecordId</name><value><elementReference>$Record.Id</elementReference></value></inputAssignments>
    <inputAssignments><name>PipelineKey</name><value><elementReference>vPipelineKey</elementReference></value></inputAssignments>
    <inputAssignments><name>MilestoneKey</name><value><elementReference>vMilestoneKey</elementReference></value></inputAssignments>
  </subflows>

  <!-- DECISION -->
  <decisions>
    <name>Dec_Stage_To_Milestone</name>
    <label>Stage to Milestone</label>
    <locationX>740</locationX>
    <locationY>80</locationY>

    <rules>
      <name>R_Prospecting</name>
      <conditionLogic>1</conditionLogic>
      <conditions>
        <leftValueReference>$Record.StageName</leftValueReference>
        <operator>EqualTo</operator>
        <rightValue><stringValue>Prospecting</stringValue></rightValue>
      </conditions>
      <connector><targetReference>Set_Milestone_Proposal</targetReference></connector>
    </rules>

    <rules>
      <name>R_Contracting</name>
      <conditionLogic>1</conditionLogic>
      <conditions>
        <leftValueReference>$Record.StageName</leftValueReference>
        <operator>EqualTo</operator>
        <rightValue><stringValue>Contracting</stringValue></rightValue>
      </conditions>
      <connector><targetReference>Set_Milestone_Contract</targetReference></connector>
    </rules>

    <rules>
      <name>R_ClosedWon</name>
      <conditionLogic>1</conditionLogic>
      <conditions>
        <leftValueReference>$Record.StageName</leftValueReference>
        <operator>EqualTo</operator>
        <rightValue><stringValue>Closed Won</stringValue></rightValue>
      </conditions>
      <connector><targetReference>Set_Milestone_Signed</targetReference></connector>
    </rules>

    <defaultConnector><targetReference>Set_Milestone_Default</targetReference></defaultConnector>
    <defaultConnectorLabel>Default</defaultConnectorLabel>
  </decisions>

  <!-- ASSIGNMENTS -->
  <assignments>
    <name>Set_Milestone_Proposal</name>
    <label>Set Milestone = Proposal Sent</label>
    <locationX>980</locationX>
    <locationY>20</locationY>
    <assignmentItems>
      <assignToReference>vMilestoneKey</assignToReference>
      <operator>Assign</operator>
      <value><stringValue>MILESTONE_PROPOSAL_SENT</stringValue></value>
    </assignmentItems>
    <connector><targetReference>Call_Notify</targetReference></connector>
  </assignments>

  <assignments>
    <name>Set_Milestone_Contract</name>
    <label>Set Milestone = Contract Sent</label>
    <locationX>980</locationX>
    <locationY>80</locationY>
    <assignmentItems>
      <assignToReference>vMilestoneKey</assignToReference>
      <operator>Assign</operator>
      <value><stringValue>MILESTONE_CONTRACT_SENT</stringValue></value>
    </assignmentItems>
    <connector><targetReference>Call_Notify</targetReference></connector>
  </assignments>

  <assignments>
    <name>Set_Milestone_Signed</name>
    <label>Set Milestone = Contract Signed</label>
    <locationX>980</locationX>
    <locationY>140</locationY>
    <assignmentItems>
      <assignToReference>vMilestoneKey</assignToReference>
      <operator>Assign</operator>
      <value><stringValue>MILESTONE_CONTRACT_SIGNED</stringValue></value>
    </assignmentItems>
    <connector><targetReference>Call_Notify</targetReference></connector>
  </assignments>

  <assignments>
    <name>Set_Milestone_Default</name>
    <label>Set Milestone = Router Fired</label>
    <locationX>980</locationX>
    <locationY>200</locationY>
    <assignmentItems>
      <assignToReference>vMilestoneKey</assignToReference>
      <operator>Assign</operator>
      <value><stringValue>MILESTONE_ROUTER_FIRED</stringValue></value>
    </assignmentItems>
    <connector><targetReference>Call_Notify</targetReference></connector>
  </assignments>

  <!-- START (Record-Triggered) -->
  <start>
    <locationX>80</locationX>
    <locationY>80</locationY>
    <object>Opportunity</object>
    <recordTriggerType>CreateAndUpdate</recordTriggerType>
    <triggerType>RecordAfterSave</triggerType>
    <connector><targetReference>SF_Log_Start</targetReference></connector>
  </start>

  <!-- Set to Active so it runs immediately like your Lead_DocuSign_OnCreate -->
  <status>Active</status>
</Flow>





