tmp_mdapi_convert/flows/Lead_Auto_Email_Internal.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_1</name>
        <label>Send Auto-Reply Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Debug_Email_Sent</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Debug_Email_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <elementReference>var_ToAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddresses</name>
            <value>
                <elementReference>var_CcAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>bccAddresses</name>
            <value>
                <elementReference>var_BccAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Thanks — we received your request</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Hello {!$Record.FirstName},

Thanks for reaching out. We received your submission and will follow up shortly.

— Team</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Debug_Email_Fault</name>
        <label>Debug - Email Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_DebugStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EMAIL_FAULT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DebugError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_Debug</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Debug_Email_Sent</name>
        <label>Debug - Email Sent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_DebugStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EMAIL_SENT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DebugError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_Debug</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Debug_Flow_Started</name>
        <label>Debug - Flow Started</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_DebugStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>STARTED</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DebugError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recipients_Init</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recipients_Add_To</name>
        <label>Recipients - Add Lead Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ToAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DebugStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SENDING_EMAIL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recipients_Init</name>
        <label>Recipients - Init Collections</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_DebugStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RECIPIENTS_INIT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recipients_Add_To</targetReference>
        </connector>
    </assignments>
    <description>Lead After-Save: send an auto-reply email; write debug info to Lead.Description.</description>
    <environments>Default</environments>
    <formulas>
        <name>f_DebugLine</name>
        <dataType>String</dataType>
        <expression>{!var_DebugStatus} &amp; IF(ISBLANK({!var_DebugError}), &quot;&quot;, &quot; | &quot; &amp; {!var_DebugError})</expression>
    </formulas>
    <interviewLabel>Lead Auto Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Auto Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Lead_Debug</name>
        <label>Debug - Write Status to Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>f_DebugLine</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Debug_Flow_Started</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <description>BCC Addresses (Collection)</description>
        <name>var_BccAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>CC Addresses (Collection)</description>
        <name>var_CcAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Error Variable</description>
        <name>var_DebugError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Status Variable</description>
        <name>var_DebugStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>To Addresses (Collection)</description>
        <name>var_ToAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
