tmp_mdapi_convert/flows/Lead_Auto_Email.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_1</name>
        <label>Send Auto-Reply Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Debug_Email_Sent</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Debug_Email_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Thank you for your submission.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Hi {!$Record.FirstName},

Thank you for your interest,

Attached is a copy of my resume. You can schedule a meeting with me directly here: https://calendly.com/sellwood-timm/30min

I look forward to hearing from you soon,
Tim Sellwood</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
            <value>
                <elementReference>var_ResumeContentVersionId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Debug_Email_Fault</name>
        <label>Debug - Email Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_DebugStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EMAIL_FAULT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DebugError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_Debug</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Debug_Email_Sent</name>
        <label>Debug - Email Sent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_DebugStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EMAIL_SENT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DebugError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_Debug</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Debug_Flow_Started</name>
        <label>Debug - Flow Started</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_DebugStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>STARTED</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DebugError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ResumeContentVersionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Latest_Resume_ContentVersion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Debug_No_Attachment_Found</name>
        <label>Debug - No Resume ContentVersion Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_DebugStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NO_RESUME_CONTENTVERSION</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DebugError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Resume ContentVersion not found (IsLatest=true) for ContentDocumentId=069gK000007dBfVQAU</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_Debug</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Debug_ResumeCV_Found</name>
        <label>Debug - Resume ContentVersion Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_DebugStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RESUME_CV_FOUND</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ResumeContentVersionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_Resume_ContentVersion.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Resume_Found</name>
        <label>Resume ContentVersion Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Debug_No_Attachment_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_Resume_ContentVersion.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Debug_ResumeCV_Found</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>Lead After-Save: send an auto-reply email (latest resume ContentVersion attached) and write debug info to Lead.Description.</description>
    <environments>Default</environments>
    <formulas>
        <name>f_DebugLine</name>
        <dataType>String</dataType>
        <expression>{!var_DebugStatus}
&amp; &quot; | LeadId=&quot; &amp; {!$Record.Id}
&amp; IF(ISBLANK({!var_ResumeContentVersionId}), &quot;&quot;, &quot; | ResumeCV=&quot; &amp; {!var_ResumeContentVersionId})
&amp; IF(ISBLANK({!var_DebugError}), &quot;&quot;, &quot; | &quot; &amp; {!var_DebugError})</expression>
    </formulas>
    <interviewLabel>Lead Auto Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Auto Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Latest_Resume_ContentVersion</name>
        <label>Get Latest Resume ContentVersion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Resume_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>069gK000007dBfVQAU</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsLatest</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_Debug</name>
        <label>Debug - Write Status to Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>f_DebugLine</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Debug_Flow_Started</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Error Variable</description>
        <name>var_DebugError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Status Variable</description>
        <name>var_DebugStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Latest Resume ContentVersion Id (068...)</description>
        <name>var_ResumeContentVersionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
