tmp_mdapi_convert/flows/Lead_Email_ResumeAttachment_OnCreate.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Admin_Notification_New_Lead</name>
        <label>Send Admin Notification - New Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Debug_Final</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <stringValue>sellwood.timm@gmail.com</stringValue>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>tim@teemails.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Lead Created: {!$Record.FirstName} {!$Record.LastName} ({!$Record.Email})</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;p&gt;A new lead was created.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Name: {!$Record.FirstName} {!$Record.LastName}&lt;/p&gt;&lt;p&gt;Email: {!$Record.Email}&lt;/p&gt;&lt;p&gt;Company: {!$Record.Company}&lt;/p&gt;&lt;p&gt;Lead Source: {!$Record.LeadSource}&lt;/p&gt;&lt;p&gt;Created: {!$Record.CreatedDate}&lt;/p&gt;&lt;p&gt;Lead Id: {!$Record.Id}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_Resume_Email_1</name>
        <label>Send Resume Email (Template + PDF)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LeadResumeEmailAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Email_Sent</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Email_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XgK00000HjyUWUAZ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideFromAddress</name>
            <value>
                <stringValue>tim@teemails.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contentDocumentId</name>
            <value>
                <stringValue>069gK000007dNdRQAU</stringValue>
            </value>
        </inputParameters>
        <nameSegment>LeadResumeEmailAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Email_Fault</name>
        <label>Debug - Email Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_DebugStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EMAIL_FAULT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DebugError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Debug_Final</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Sending</name>
        <label>Debug - Email Sending</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_DebugStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CALLING_EMAIL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Debug_Before_Send</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Sent</name>
        <label>Debug - Email Sent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_DebugStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EMAIL_SENT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Admin_Notification_New_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Init</name>
        <label>Debug - Init</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_DebugStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>STARTED</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DebugError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Debug_Started</targetReference>
        </connector>
    </assignments>
    <description>v1 | 2026-02-17 - Lead After-Save (Create): Send EmailTemplate + attach Resume PDF from Files using Apex invocable LeadResumeEmailAction. Debug: STARTED -&gt; CALLING_EMAIL -&gt; EMAIL_SENT or EMAIL_FAULT.</description>
    <environments>Default</environments>
    <formulas>
        <name>f_DebugLine</name>
        <dataType>String</dataType>
        <expression>{!var_DebugStatus}
&amp; &quot; | LeadId=&quot; &amp; {!$Record.Id}
&amp; IF(ISBLANK({!var_DebugError}), &quot;&quot;, &quot; | ERROR=&quot; &amp; {!var_DebugError})</expression>
    </formulas>
    <interviewLabel>Lead Resume Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Email - Resume Attachment (On Create)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Debug_Before_Send</name>
        <label>Debug - Write (Before Send)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Resume_Email_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>f_DebugLine</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Debug_Final</name>
        <label>Debug - Write (Final)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>f_DebugLine</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Debug_Started</name>
        <label>Debug - Write (Started)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Email_Sending</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>f_DebugLine</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Init</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_DebugError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_DebugStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
