tmp_mdapi_convert/flows/Opp_Reapproval_Guardrail.flow
<?xml version="1.0" encoding="UTF-8"?>
<!-- v0.1.6 | 2026-02-18 | Opp_Reapproval_Guardrail: Decision uses defaultConnectorLabel (org-compatible) -->
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
  <apiVersion>65.0</apiVersion>
  <label>Opp_Reapproval_Guardrail</label>
  <processType>AutolaunchedFlow</processType>
  <status>Draft</status>

  <variables>
    <name>RecordId</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>true</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>PipelineKey</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>true</isInput>
    <isOutput>false</isOutput>
  </variables>

  <recordLookups>
    <name>Get_Opp</name>
    <label>Get Opportunity</label>
    <locationX>300</locationX>
    <locationY>80</locationY>
    <object>Opportunity</object>
    <filters>
      <field>Id</field>
      <operator>EqualTo</operator>
      <value><elementReference>RecordId</elementReference></value>
    </filters>
    <outputReference>Opp</outputReference>
    <queriedFields>Id</queriedFields>
    <queriedFields>Name</queriedFields>
    <queriedFields>StageName</queriedFields>
    <connector>
      <targetReference>Dec_LateStage</targetReference>
    </connector>
  </recordLookups>

  <decisions>
    <name>Dec_LateStage</name>
    <label>Late Stage?</label>
    <locationX>560</locationX>
    <locationY>80</locationY>

    <rules>
      <name>R_LATE</name>
      <conditionLogic>1 OR 2</conditionLogic>
      <conditions>
        <leftValueReference>Opp.StageName</leftValueReference>
        <operator>EqualTo</operator>
        <rightValue><stringValue>Negotiation/Review</stringValue></rightValue>
      </conditions>
      <conditions>
        <leftValueReference>Opp.StageName</leftValueReference>
        <operator>EqualTo</operator>
        <rightValue><stringValue>Contracting</stringValue></rightValue>
      </conditions>
      <connector><targetReference>Log_LateStage</targetReference></connector>
    </rules>

    <defaultConnector>
      <targetReference>Log_NotLate</targetReference>
    </defaultConnector>
    <defaultConnectorLabel>Not Late Stage</defaultConnectorLabel>
  </decisions>

  <subflows>
    <name>Log_LateStage</name>
    <label>Log Late Stage</label>
    <locationX>820</locationX>
    <locationY>80</locationY>
    <flowName>SF_Log_Run</flowName>
    <inputAssignments><name>RecordId</name><value><elementReference>Opp.Id</elementReference></value></inputAssignments>
    <inputAssignments><name>PipelineKey</name><value><elementReference>PipelineKey</elementReference></value></inputAssignments>
    <inputAssignments><name>MilestoneKey</name><value><stringValue>MILESTONE_REAPPROVAL_GUARDRAIL_LATESTAGE</stringValue></value></inputAssignments>
    <inputAssignments><name>Severity</name><value><stringValue>INFO</stringValue></value></inputAssignments>
    <inputAssignments><name>Message</name><value><stringValue>Guardrail hit: Opportunity is in a late stage. (Field updates added after schema finalized.)</stringValue></value></inputAssignments>
  </subflows>

  <subflows>
    <name>Log_NotLate</name>
    <label>Log Not Late</label>
    <locationX>820</locationX>
    <locationY>180</locationY>
    <flowName>SF_Log_Run</flowName>
    <inputAssignments><name>RecordId</name><value><elementReference>Opp.Id</elementReference></value></inputAssignments>
    <inputAssignments><name>PipelineKey</name><value><elementReference>PipelineKey</elementReference></value></inputAssignments>
    <inputAssignments><name>MilestoneKey</name><value><stringValue>MILESTONE_REAPPROVAL_GUARDRAIL_NOTLATESTAGE</stringValue></value></inputAssignments>
    <inputAssignments><name>Severity</name><value><stringValue>DEBUG</stringValue></value></inputAssignments>
    <inputAssignments><name>Message</name><value><stringValue>Guardrail check: stage not late; no action.</stringValue></value></inputAssignments>
  </subflows>

  <start>
    <locationX>80</locationX>
    <locationY>80</locationY>
    <connector><targetReference>Get_Opp</targetReference></connector>
  </start>
</Flow>
